./Debug/
**/Debug/
**/packages/
./UseDLL/
./packages/
**/ipch/
./sw-sdk-cpp.sln
./sw-sdk-cpp.VC.db
./sw-sdk-cpp.VC.VC.opendb
ipch/SW-SDK-CPP-UT-85eef3d9/SW-SDK-CPP-UT-8a0360ab.ipch
sw-sdk-cpp/sw-sdk-cpp.vcxproj.user
sw-sdk-cpp/sw-sdk-cpp.vcxproj.filters
sw-sdk-cpp/sw-sdk-cpp.vcxproj
sw-sdk-cpp.VC.VC.opendb
sw-sdk-cpp.VC.db
